<!DOCTYPE html>
<html>
<head>
  <title>TestJs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
<!--phpアドミン起動-->
<!--sudo service httpd start-->

<!--mysql起動-->
<!--sudo service mysqld start-->

<!--テストサーバー起動-->
<!--rails s -p $PORT -b $IP -->